mixin btn_fullColor (title) 
  form(active="#")
    button(class="btn btn_fullColor")= title

mixin btn_borderColor (title) 
  form(active="#")
    button(class="btn btn_borderColor")= title

mixin btn_withoutBorder (title) 
  form(active="#")
    button(class="btn btn_withoutBorder")= title

mixin btn_submit  
  form(active="#")
    button(class="btn btn_submit")
      span(class="")
      span(class="material-icons") arrow_forward

      


    