 .btn {
    display: inline-block;
    padding: 13px 18px;
    border-radius: 22px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid transparent;

      &_fullColor {
        background: $btn-color;
        color: #fff;
        background-origin: border-box;
        &:hover {
          opacity: 50%;
        }
      }
      
      &_borderColor {
        position: relative;
        background-clip: padding-box;
        color: #BC9CFF;
        background-color: $body-color;
        &::before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -1;
          margin: -2px;
          border-radius: inherit;
          background: $btn-color;
          }
          &:hover::before {
            opacity: 50%;
        }
      }
      
      &_withoutBorder {
        padding: 0;
        border: none;
        background-color: $body-color;
        color: #BC9CFF;
        &:hover {
          color: #1F2041;
          opacity: .5;
        }
      }

      &_submit {
        border: none;
        display: flex;
        width: 320px;
        height: 44px;
        padding: 0;
        background: $btn-color;
        background-clip: padding-box;
        color: #fff;
        &_
      }
}




