include ../material-icons/material-icons.pug

mixin btn (options)
  if !options
    - options = {}

  -
    var classes = ''
    classes += (options.type === 'color-full') ? ' btn_color-full' : ''
    classes += (options.type === 'color-only-border') ? ' btn_color-only-border' : ''
    classes += (options.type === 'without-border') ? ' btn_without-border' : ''
    classes += (options.type === 'submit') ? ' btn_submit' : ''

  button.btn(
    class= classes 
    id= options.id
  )= options.title
    case options.type
      when 'submit'
        .btn__icon-wrapper
          +material-icons('arrow_forward')

      


    