@import '../../theme/vars.scss';
@import '../../theme/global.scss';
 
 .btn {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 22px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid transparent;

      &_color-full {
        border: none;
        background: $purple_gradiend;
        color: #fff;
        background-origin: border-box;
        &:hover {
          opacity: 50%;
        }
      }
      
      &_color-only-border {
        position: relative;
        padding: 13px 18px;
        background-clip: padding-box;
        color: $purple;
        background-color: $body-color;
        &::before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -1;
          margin: -2px;
          border-radius: inherit;
          background: $purple_gradiend;
          }
          &:hover::before {
            opacity: 50%;
        }
      }
      
      &_without-border {
        padding: 0;
        border: none;
        background-color: $body-color;
        color: $purple;
        &:hover {
          color: #1F2041;
          opacity: .5;
        }
      }

      &_submit {
        position: relative;
        border: none;
        background: $purple_gradiend;
        background-clip: padding-box;
        color: #fff;
        width: 320px;
        height: 44px;
        text-align: center;
      }

      &__icon-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        color: #fff;
        font-weight: 400;
      }
      
}




