mixin btn (options)
  if !options
    - options = {}

  -
    var classes = ''
    classes += (options.type === 'color-full') ? ' btn_color-full' : ''
    classes += (options.type === 'color-only-border') ? ' btn_color-only-border' : ''
    classes += (options.type === 'without-border') ? ' btn_without-border' : ''

  button.btn(
    class= classes 
  )= options.title

      


    