mixin text-field_default
  form(action="#") 
    input(class="text-field text-field_default" type="text" placeholder="Email") 

mixin dropdown (title)
  form(action="#")  
    div(class="text-field text-field_dropdown")
      span(class="text-field__title")= title
      .text-field__expend-icon
        span(class="material-icons") expand_more

mixin masked
  form(action="#") 
    input(class="text-field text-field_default" id="date" type="text" pattern="/[0-9]/" placeholder="ДД.ММ.ГГГГ") 




