@mixin text-field_size_s {
    width: 150px;
    height: 44px;
}

@mixin text-field_size_m {
    width: 267px;
    height: 44px;
}

@mixin text-field_size_l {
    width: 320px;
    height: 44px;
}

@mixin text-field {
    .text-field {
        display: block;
        color: $dark-shade_75;;
        padding-left: 15px;
        border-radius: 4px;
        border: 1px solid $dark-shade_25;
        &:hover {
            border: 1px solid $dark-shade_50;
        }
        &:focus {
            outline: none;
        }
        &__wrapper {
            display: inline-block;
            position: relative;
        }
    }
}

@mixin text-field_default {
    .text-field {
        &_default {
            @include text-field_size_l;
        }
        //окрашиваем цвет placeholder для всех браузеров
        &_default::-webkit-input-placeholder {
            color: $dark-shade_25;
        }
        &_default::-moz-placeholder {
            color: $dark-shade_25;
        }
         
    }
}

@mixin text-field_dropdown {
    .text-field {
        &_dropdown {
            @include text-field_size_l;
            display: flex;
            align-items: center;
        }
        &__icon {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            color: $dark-shade_50;
        }
    }
}
@mixin text-field_dropdown_date {
    .text-field {
        &_dropdown_date {
            @include text-field_size_s;
        }
    }
}

@mixin text-field_dropdown_filter-date {
    .text-field {
        &_dropdown_filter-date {
            @include text-field_size_m;
        }
    }
}

@mixin text-field_subsription {
    .text-field {
        &_subsription {
            @include text-field_size_m;
        }
    }
}

//Разобраться со силями icon