doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="default-style/home.scss")
    title Изменить
    include blocks/header/header.pug
    include blocks/btn/btn.pug
    include blocks/btn/btn_fullColor.pug 
    include blocks/btn/btn_fullColor_opacity.pug 
    include blocks/btn/btn_borderColor.pug 
    include blocks/btn/btn_borderColor_opacity.pug 
    