doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="styles/UI-kit.scss")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    title Изменить
  body
    .container
      include src/components/text-field/text-field.pug
      include src/components/material-icons/material-icons.pug
      +text-field({
        size: 'l',
        placeholder: 'Email',
        inputType: 'email',
      })
      +text-field({
        type: 'dropdown',
        size: 'l',
        readonly: 'on',
        title: 'Сколько гостей',
        dropdown: {
          item: 'guests',
        }
      })
      +text-field({
        size: 'l',
        placeholder: 'ДД.ММ.ГГГГ',
        inputType: 'text',
        mask: 'on',
      })
      +text-field({
        type: 'subscription',
        size: 'm',
        placeholder: 'Email',
        inputType: 'email',
      })
    // подключение плагина Masked
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
    <script src='src/components/text-field/mask.js' type="text/javascript"></script>
    <script src='src/components/text-field/__dropdown/text-field__dropdown.js' type="text/javascript"></script>
   

  