doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="styles/UI-kit.scss")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    title Изменить
  body
    include #UI-kit/colors&type/colors&type.pug 
    include #UI-kit/Form-Elements/form-elements.pug
    
    
    
