.wrapper-color-n-text
    .wrapper-color
        div(class="color-box color-box_dark-shade_opaciy_100")
        div(class="color-box color-box_dark-shade_opaciy_75") 
        div(class="color-box color-box_dark-shade_opaciy_50")
        div(class="color-box color-box_dark-shade_opaciy_25")
        div(class="color-box color-box_dark-shade_opaciy_5")
        div(class="color-box color-box_purple")
        div(class="color-box color-box_green")
    .wrapper-text
        h1 This one is the sub-section or<br> widget title
        h2 Next one is the item title inside<br> widgets
        h3 This is a label or CTA text
        p This is the body text which is used for most<br> of the design, like paragraphs, lists, etc.