mixin btn_fullColor (title) 
  form(active="#")
    button(class="btn btn_fullColor")= title

mixin btn_borderColor (title) 
  form(active="#")
    button(class="btn btn_borderColor")= title

mixin btn_withoutBorder (title) 
  form(active="#")
    button(class="btn btn_withoutBorder")= title

mixin btn_submit (title)  
  form(active="#")
    button(class="btn btn_submit")
      span(class="btn__title btn__title_submit")= title
      .btn_arrow
        span(class="material-icons") arrow_forward

      


    