include btn/btn.pug 
+btn_fullColor('Click me')
+btn_borderColor('Click me')
+btn_withoutBorder('Click me')
+btn_submit('Перейти к оплате')
include text-field/text-field.pug
+text-field_default 
+dropdown('Сколько гостей')
+text-field_masked
+dropdown_date 
+dropdown_filter-date
    