@import '../../theme/vars.scss';
@import '../../theme/global.scss';

.material-icons-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: $dark-shade_50;
    font-weight: 400;
}