.text-field {
    display: block;
    width: 320px;
    height: 44px;
    color: $dark-shade_75;;
    padding-left: 15px;
    border-radius: 4px;
    border: 1px solid $dark-shade_25;
    
    //окрашиваем цвет placeholder для всех браузеров
    &::-webkit-input-placeholder {
        color: $dark-shade_25;
    }
    &::-moz-placeholder {
        color: $dark-shade_25;
    }

    &:hover, &:focus {
        border-color: $dark-shade_50;
    }
}