@mixin font-properties($family, $size, $weight, $height) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1150 px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    @include font-properties($default-font, 24px, 700, 30px)
}

h2 {
    @include font-properties($default-font, 19px, 700, 23px)
}

h3 {
    @include font-properties($default-font, 12px, 700, 15px)
}

body {
    @include font-properties($default-font, 14px, 400, 24px)
}