include __subscription/text-field__subscription.pug
include __expander/text-field__expander.pug

mixin text-field(options)
  if !options
    - options = {}

  // значени readonly записывается в переменную только в случае если указано значение 'on' иначе readonly отменятеся
  - var readonly = (options.readonly === 'on') ? 'readonly' : false

  // записывается значение title в переменную, только если активирован readonly
  - var title = (options.readonly === 'on') ? options.title : false

  // Добавление модификаторов при установлении их значений
  -
    var childClasses = ''
    childClasses += options.size ? ' text-field_size_' + options.size : ''
    childClasses += (options.mask === 'on') ? ' text-field_mask_' + options.mask : ''
    childClasses += (options.type === 'dropdown') ? ' text-field_input-type_dropdown': ''
  
  -
    var parentClasses = ''
    parentClasses += (options.type === 'dropdown') ? ' text-field_type_dropdown': ''
    
  form(action="#")
    .text-field(
      class= parentClasses
    )
      input.text-field__input(
        class=       childClasses
        type=        options.inputType 
        placeholder= options.placeholder 
        readonly=    readonly 
        value=       title
        id=          options.id  
      )
      case options.type
        when 'subscription'
          +text-field__subscription
        when 'dropdown'
          +text-field__expander(options)


