include __subscription/text-field__subscription.pug

mixin text-field(options)
  if !options
    - options = {}

  - var readonly = (options.readonly === 'on') ? 'readonly' : false

  - var title = (options.readonly === 'on') ? options.title : false

  -
    var classes = ''
    classes += options.size ? ' text-field_size_' + options.size : ''
    classes += (options.mask === 'on') ? ' text-field_mask_' + options.mask : ''
  
  
    
  form(action="#")
    .text-field
      input.text-field__input(
        class=       classes
        type=        options.inputType 
        placeholder= options.placeholder 
        readonly=    readonly 
        value=       title
      )
      case options.type
        when 'subscription'
          +text-field__subscription


  //  - if (options.In==inputType === 'text' || options.inputType === 'email')
      input.text-field_input(
        type = options.inputType 
        placeholder = options.placeholder 
      )