@import '../../theme/vars.scss';
@import '../../theme/global.scss';

.text-field {
  display: inline-block;
  position: relative;

  &_size_s {
    width: 150px;
    height: 44px;
  }

  &_size_m {
    width: 267px;
    height: 44px;
    }

  &_size_l {
    width: 320px;
    height: 44px;
  }

  &__input {
    display: block;
    color: $dark-shade_75;
    padding-left: 15px;
    border-radius: 4px;
    border: 1px solid $dark-shade_25;
    
    &:hover {
      border: 1px solid $dark-shade_50;
    }
    &:focus {
      outline: none;
      border: 1px solid $dark-shade_50;
    }
    
    //окрашиваем цвет placeholder для всех браузеров
    &::-webkit-input-placeholder {
      color: $dark-shade_25;
    }
    &::-moz-placeholder {
      color: $dark-shade_25;
    }
  }

  &__icon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: $dark-shade_50;
    font-weight: 400;

  &_subsrciption {
    background-image: $purple_gradiend;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  }

  // С помощью ' > * ' свойства применяются к дочерним элементам
  &_type_dropdown > * {
    cursor: pointer;
  }

  &_input-type_dropdown_expanded {
    border-radius: 4px 4px 0 0;
    border: 1px solid $dark-shade_50;
  }
}

